{% block footer %}
<footer>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-8 footer-margin-top">
                <div>
                    <ul>
                        <li class="footer-left-menu">
                            <a href="{% url 'blog_page' slug='about-us' %}"> About</a>
                        </li>
                        <li class="footer-left-menu">
                            <a href="{% url 'blog_page' slug='contact' %}"> Contact</a>                        
                        </li>
                        <li class="footer-left-menu">
                            <a href="{% url 'blog_page' slug='privacy-policy' %}"> Privacy Policy</a>                        
                        </li>
                        <li class="footer-left-menu">
                            <a href="{% url 'sitemap' %}"> Sitemap</a>
                        </li>
                        
                    </ul>
                </div>
                
                <div class="footer-left">
                    <p>Copyright &copy;2020 <a href="{% url 'blog_index' %}">linux-id.net</a> | Development by GeekID <i class="fas fa-heart"></i> <span class="powered">django</span></p>
                </div>
                
            </div>
            <div class="col-md-4 footer-margin-top">
                <div class="footer-right-social">
                    <ul>
                        <li class="footer-right-social">
                            <a href="#" alt="Linkedin"><i class="fab fa-linkedin"></i></a>
                        </li>
                        <li class="footer-right-social">
                            <a href="#" alt="Facebook"><i class="fab fa-facebook-square"></i></a>                        
                        </li>
                        <li class="footer-right-social">
                            <a href="" alt="Github"><i class="fab fa-github-square"></i></a>
                        </li>
                        <li class="footer-right-social">
                            <a href="" alt="Sitemap"><i class="fab fa-stack-overflow"></i></a>
                        </li>
                        
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
</footer>
{% endblock footer %}