{% extends "base.html" %} 
{% block content %}

{% if posts_view.has_next and posts_view.has_previous or posts_view.has_previous %}
        
{% for post in posts_view%}
<section>
   <p><img src="{{ latest.featured_image.url }}"></p>
   <a href="{% url 'post_detail' post.slug %}"><h2 class="">{{ post.title }}</h2></a>
   <p class="card-text text-muted h6"><i class="far fa-clock"></i>{{ post.created_on |  date:"d F Y"  }}</p>
   <p class="card-text text-muted h6"><i class="fas fa-paperclip"></i> {{ post.category }}</p>
   <p class="card-text">{{ post.content| slice:":200"| safe }}</p>
   <a href="{% url 'post_detail' post.slug  %}" class="">Read More <i class="fas fa-angle-double-right"></i></a>
</section>
{% endfor%}

{% else %}
<section>
   <p><img src="{{ latest.featured_image.url }}"></p>
   <a href="{% url 'post_detail' latest.slug %}"><h2 class="">{{ latest.title }}</h2></a>
   <p class="card-text text-muted h6"><i class="far fa-clock"></i>{{ latest.created_on |  date:"d F Y"  }}</p>
   <p class="card-text text-muted h6"><i class="fas fa-paperclip"></i> {{ latest.category }}</p>
   <p class="card-text">{{ latest.content| slice:":200"| safe }}</p>
   <a href="{% url 'post_detail' latest.slug  %}" class="">Read More <i class="fas fa-angle-double-right"></i></a>
</section>
<hr>
             
{% for post in top_three%}
<section>
   <a href="{% url 'post_detail' post.slug %}"><h2 class="">{{ post.title }}</h2></a>
   <p class="card-text text-muted h6"><i class="far fa-clock"></i>{{ post.created_on |  date:"d F Y"  }}</p>
   <p class="card-text text-muted h6"><i class="fas fa-paperclip"></i> {{ post.category }}</p>
   <p class="card-text">{{ post.content| slice:":200"| safe }}</p>
   <a href="{% url 'post_detail' post.slug  %}" class="">Read More <i class="fas fa-angle-double-right"></i></a>
</section>
{% endfor%}
<hr>
           
{% for post in posts_view%}
<section>
   <a href="{% url 'post_detail' post.slug %}"><h2 class="">{{ post.title }}</h2></a>
   <p class="card-text text-muted h6"><i class="far fa-clock"></i>{{ post.created_on |  date:"d F Y"  }}</p>
   <p class="card-text text-muted h6"><i class="fas fa-paperclip"></i> {{ post.category }}</p>
   <p class="card-text">{{ post.content| slice:":200"| safe }}</p>
   <a href="{% url 'post_detail' post.slug  %}" class="">Read More <i class="fas fa-angle-double-right"></i></a>
</section>
{% endfor%}
{% endif %}


<div class="col-md-6">
   <ul class="pager">   
   {% if posts_view.has_previous %}
        <li class="previous"><a href="?page={{ posts_view.previous_page_number }}">Previous</a></li>
   {% else %}
        <li class="previous"><a title="End of Posts">Previous</a></li>
   {% endif %}
   {% if posts_view.has_next %}
        <li class="next"><a href="?page={{ posts_view.next_page_number }}">Next</a></li>
        
   {% else %}
        <li class="next"><a title="End of Posts">Next</a></li>
   {% endif %}
   
   </ul>

</div>

{%endblock%}