{% extends 'base.html' %} 
{% block content %}

{% block seo %}
        
<meta name="description" content="{{post.title}}">
<meta name="keyword" content="{%for tag in tag_list %}{{tag.name}},{%endfor%}">

{% endblock seo %}

  <div class="row content-block">
    <div class="col-md-8 mb-4  mt-3 left top">
      <div>
        <h1>{% block title %} {{ post.title }} {% endblock title %}</h1>
        <p class="card-text text-muted h6"><i class="far fa-clock"></i> {{ post.created_on | date:"d F Y" }}</p>
        <a href="{{ post.category.get_absolute_url }}"><p class="card-text text-muted h6"><i class="fas fa-paperclip"></i> {{ post.category }}</p></a>
        {{ post.content|safe }}
        
        <div class="tags tags-top">
          <ul>
            {% for tag in tag_list %}
              <li>
                <a href="{{ tag.get_absolute_url }}">#{{ tag.name }}</a>
              </li>
            {%endfor%}
          </ul>
        </div>
        
      </div>
    </div>
    {% block sidebar %} 
        {% include 'sidebar.html' %} 
    {% endblock sidebar %}
  </div>

{% endblock content %}