{% extends 'base.html' %} 
{% block seo %}
        
<meta name="author" content="{{ post.author }}">
<meta name="description" content="{{ post.content|safe|striptags|slice:'160' }}">
<meta name="keyword" content="{{ post.title }}">
{% for tag in post.tag.all %}
<meta name="article:tag" content="{{ tag.name }}">
{%endfor%}
<!-- meta facebook share -->
<meta property="og:url" content="https://{{ request.get_host }}{{ post.get_absolute_url }}">
<meta property="og:type" content="article">
<meta property="og:locale" content="en_US">
<meta property="og:title" content="{{ post.title }}">
<meta property="og:description" content="{{ post.content|safe|striptags|slice:'160' }}">
<meta property="og:image" content="https://{{ request.get_host }}{{ post.featured_image.url }}">
<meta property="og:site_name" content="{{ request.get_host }}"/>

<!-- meta Twitter Card Data -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ post.title }}">
<meta name="twitter:description" content="{{ post.content|safe|striptags|slice:'160' }}">
<meta name="twitter:image" content="https://{{ request.get_host }}{{ post.featured_image.url }}">
<meta name="twitter:domain" content="{{ request.get_host }}">
<meta name="twitter:creator" content="@buruh_serabutan">

{% endblock seo %}

{% block content %}
  <div class="row">
    <div class="col-md-8 content-block">
      <div>
        <h1>{% block title %} {{ post.title }} {% endblock title %}</h1>
        <p class="card-pd h6"><i class="far fa-clock"></i> {{ post.created_on | date:"d F Y" }} | Category : <a href="{{ post.category.get_absolute_url }}"><i class="fas fa-paperclip"></i> {{ post.category }}</a></p>
        
        <div>
          <img src="{{ post.featured_image.url }}" class="img-responsive" alt="{{ post.title }}">
        </div>

        <div class="content-custom">
          {{ post.content|safe }}
        </div>
          
        
        <div class="tags-top">
          <ul class="tags">
            {%for tag in post.tag.all%}
            <li class="tag">
                <a href="{{ tag.get_absolute_url }}">#{{ tag.name }}</a>
            </li>
            {%endfor%}
          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
        {% block related_post %} 
          {% include 'related_post.html' %} 
        {% endblock related_post %}

        {% block disqus %}
          {% include 'disqus.html' %}
        {% endblock disqus %}
      
    </div>
      {% block sidebar %} 
          {% include 'sidebar.html' %} 
      {% endblock sidebar %}
  </div>

{% endblock content %}