{% extends 'base.html' %} 
{% block content %}

{% block seo %}
        
<meta name="description" content="{{post.title}}">
<meta name="keyword" content="{% for tag in post.tag.all %}{{tag.name}},{%endfor%}">

{% endblock seo %}

  <div class="row">
    <div class="col-md-8 content-block">
      <div>
        <h1>{% block title %} {{ post.title }} {% endblock title %}</h1>
        <p class="card-pd h6"><i class="far fa-clock"></i> {{ post.created_on | date:"d F Y" }} | Category : <a href="{{ post.category.get_absolute_url }}"><i class="fas fa-paperclip"></i> {{ post.category }}</a></p>
        
        <div>
          <img src="{{ post.featured_image.url }}" class="img-responsive" alt="{{ post.title }}">
        </div>

        <div class="content-custom">
          {{ post.content|safe }}
        </div>
          
        
        <div class="tags-top">
          <ul class="tags">
            {%for tag in post.tag.all%}
            <li class="tag">
                <a href="{{ tag.get_absolute_url }}">#{{ tag.name }}</a>
            </li>
            {%endfor%}
          </ul>
        </div>
        
      </div>
      
    </div>
    {% block sidebar %} 
          {% include 'sidebar.html' %} 
      {% endblock sidebar %}
  </div>

{% endblock content %}