django
django-ckeditor
pillow
virtualenv
mysqlclient
pymysql
cryptography
djipsum
faker
django-inline-svg
django-social-share
django-analytical
django-json-ld
django-compressor
cssmin
jsmin
django-sekizai
django-staticfiles
